<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>donate</title>
</head>
<body>
<h2> Thanks you for donating to us</h2>
<p>Why give to the Django Software Foundation?
<p>Our main focus is direct support of Django's developers. This means:

<p>Organizing and funding development sprints so that Django's developers can meet in person.
Helping key developers attend these sprints and other community events by covering travel expenses to official Django events.
<a href="{% url 'Aboutl' %}">Visit About Page</a> <p></p>
<a href="{% url 'Contactl' %}">Visit Contact Page</a> <p></p>
</body>
</html>
